<section data-ng-controller="EnquiriesController">
    <div class="page-header">
        <h1>New Enquiry</h1>
    </div>
    <div class="col-md-12">
        <form data-ng-submit="create()" novalidate>
            <fieldset>
		<div class="row">
                <div class="col-md-3 form-group">
                    <label class="control-label" for="enquiryno">Enquiry No</label>
                    <div class="controls">
                        <input type="number" data-ng-model="enquiryno" id="enquiryno" class="form-control" placeholder="" required>
                    </div>
                </div>
                    <div class="col-md-3 form-group">
                    <label class="control-label" for="enquirydate">Enquiry Date</label>
                    <div class="controls">
                        <input type="date" data-ng-model="enquirydate" id="enquirydate" class="form-control" placeholder="" required>
                    </div>
            	   </div>
                   <div class="col-md-3 form-group">
                    <label class="control-label" for="clientname">Client Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="clientname" id="clientname" class="form-control" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label class="control-label" for="handlingresource">Handling Resource</label>
                    <div class="controls">
                        <input type="text" data-ng-model="handlingresource" id="handlingresource" class="form-control" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label class="control-label" for="areaofenquiry">Area of Enquiry</label>
                    <div class="controls">
                        <input type="text" data-ng-model="areaofenquiry" id="areaofenquiry" class="form-control" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label class="control-label" for="modeofreceipt">Mode of Receipt</label>
                    <div class="controls">
                        <input type="text" data-ng-model="modeofreceipt" id="modeofreceipt" class="form-control" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label class="control-label" for="billable">Billable</label>
                    <div class="controls">
                        <input type="text" data-ng-model="billable" id="billable" class="form-control" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label class="control-label" for="status">Status</label>
                    <div class="controls">
                        <input type="text" data-ng-model="status" id="status" class="form-control" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label class="control-label" for="groupaffilation">Group Affilation</label>
                    <div class="controls">
                        <input type="text" data-ng-model="groupaffilation" id="groupaffilation" class="form-control" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label class="control-label" for="preparedby">Prepared By</label>
                    <div class="controls">
                        <input type="text" data-ng-model="preparedby" id="preparedby" class="form-control" placeholder="" required>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label" for="remarks">Remarks</label>
                    <div class="controls">
                        <input type="text" data-ng-model="remarks" id="remarks" class="form-control" placeholder="" required>
                    </div>
                </div>
		</div>
		<div class="row">
                  <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
