<section data-ng-controller="TravelreimbursementdetailsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="travelreimbursementdetail.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == travelreimbursementdetail.user._id))">
		<a class="btn btn-primary" href="/#!/travelreimbursementdetails/{{travelreimbursementdetail._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
<small>
	<span>{{ travelreimbursementdetail.sno }} {{ travelreimbursementdetail.clientlocation }} {{ travelreimbursementdetail.jobno }} {{ travelreimbursementdetail.fromdate }} {{ travelreimbursementdetail.todate }} {{ travelreimbursementdetail.noofdays }} {{ travelreimbursementdetail.conveyance }} {{ travelreimbursementdetail.foodallowance }} {{ travelreimbursementdetail.otherexpenses }} {{ travelreimbursementdetail.totalamount }}</span>
<p>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="travelreimbursementdetail.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="travelreimbursementdetail.user.displayName"></span>
		</em>
	</small>
</section>
